<!-- NOT A REAL VIEW -- ONLY HERE FOR TEST -->

<div class="container">


<h1>Discover Influencers</h1>

<h4>Search by Content Type</h4>
<%= form_tag brain_user_discover_path, method: :get do  %>
<%= select_tag :search, options_for_select(@content_types), selected: params[:search] %>
  <%= submit_tag ("Search") %>
<% end  %>

<% if @searched == true %>
  <h5>Filtered By: <%= params[:search] %></h5>
  <% elsif @searched == false  %>
  <h5>No Results for <%= params[:search] %></h5>
<% end  %>

<div class="container">
   <div class="row">
     <div class="col-lg-8 col-md-10 mx-auto">

<% if @searched == true || @searched == nil %>
  <% @posts.each do |post| %>
    <!--BEGIN local variablse to name author and current user for modal-->
    <%@author_id = post.user_id %>
    <% @current_user = session[:user_id]%>
    <% @post_modal = post.id%>
    <!--END local variable to name author and current for modal-->
    <!--BEGIN create post link on discover page with information-->
    <div class="post-preview">
         <a href="#<%=@post_modal%>Modal" data-toggle="modal">
           <h4 class="post-title">
            <%= post.title %>
           </h4>
           <h5 class="post-subtitle">

           Posted by <%= User.find(post.user_id).name %> on <%= (post.created_at.strftime("%B %d, %Y")) %> | <%= post.content_type %>

           </h5>
         </a>
         <h6 class="post-subtitle"><%=image_tag("1f9e0.png", height: "40", width: "40")%> <%= post.brains.count %>&nbsp; | &nbsp;<%= image_tag("1f4ac.png", height: "40", width: "40") %> <%= post.comments.count %></h6>
       </div>
       <div class="lineb">
    </div>
    <!--END create post link on discover page with information-->

    <!-- BEGIN Modal for post details  -->
    <div class="modal" id="<%=@post_modal%>Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><h4 class= "post-subtitle">
              <h3><%= post.title %> </h3>
            Posted By: <%= link_to User.find(@author_id).name, brain_user_profile_path(User.find(@author_id)) %>
            on <%= (post.created_at.strftime("%B, %d, %Y")) %> |
             <%= link_to post.content_type,post.content_link, target: :_blank %>
             <h5><%= link_to image_tag("1f9e0.png", height: "45", width: "45"), brain_user_post_brains_path(@current_user, post.id), method: :post, controller: 'brains'%> <%= post.brains.count %> &nbsp; | &nbsp;
              <%= image_tag("1f4ac.png", height: "45", width: "45")%> <%= post.comments.count %></h5>
            </h4>

          </div>
          <div class="modal-body">
              <h4>
              Description: <%= post.description %> <br>
              </h4>
              <br>
              <h4>Comments:</h4>
             <% post.comments.each do |comment| %>
               <div class="container please_align">
                 <div class="dialogbox">
                   <div class="body">
                     <span class="tip tip-up"></span>
                     <div class="message">

                   <span class="comment_header"><%= comment.find_user %> - <%= (comment.created_at.strftime("%B %d, %Y")) %></span><br><span>
                   <%= comment.text %></span>
                   </div>
                 </div>
               </div>
             </div>
                <% end %>

                <div class=" container please_align">
                  <h5>Add Comment:</h5>
                  <%= form_for @new_comment, url: brain_user_post_comments_path(@current_user, post.id) do |f| %>
                  <%= f.text_area :text, maxlength: 200 %> <br>
                  <%= f.label :text, "200 characters", class:"post-subtitle" %> <br>
                  <br>
                  <%= f.submit "Create Comment" %>
                  <% end  %>
                </div>
                </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END Modal for post details -->


  <% end %>
<% end %>

   </div>
  </div>
</div>

</div>
