<!-- lists ALL posts -->


<!-- filter by category_type AND content type -->

<h1>Discover Page....</h1>




<div class="container">
   <div class="row">
     <div class="col-lg-8 col-md-10 mx-auto">

<% @posts.each do |post| %>

       <div class="post-preview">
         <a href="<%= brain_user_post_path(params[:user_id], post)%>">
           <h2 class="post-title">
            <%= post.title %>
           </h2>
           <h3 class="post-subtitle">

             Posted by <%= User.find(post.user_id).name %> on <%= (post.created_at.strftime("%B %d, %Y")) %> | <%= post.content_type %>

           </h3>
         </a>
         <p class="post-meta"><%= image_tag("1f4ac.png", height: "45", width: "45") %> <%= post.comments.count %>  | <%=image_tag("1f9e0.png", height: "45", width: "45")%> <%= post.brains.count %></p>
       </div>
    <hr>
<% end %>

   </div>
  </div>
</div>
