<!-- lists ALL posts -->


<!-- filter by category_type AND content type -->

<h1>Discover Page....</h1>

<% @posts.each do |post| %>
  <%=  link_to post.title, brain_user_post_path(params[:user_id], post) %><br>
  Content Type: <%= post.content_type %> <br>
  Posted by <%= User.find(post.user_id).name %> on <%= (post.created_at.strftime("%B %d, %Y")) %> <br>
  <%= image_tag("1f4ac.png") %> <%= post.comments.count %>  <%=image_tag("1f9e0.png")%> <%= post.brains.count %> <br>
  <br>
<% end  %>
