<!-- NOT A REAL VIEW -- ONLY HERE FOR TEST -->

<div class="container">

<% if @user.id == session[:user_id] %>
  <h1>Welcome, <%= @user.name %>!</h1>
<% else %>
  <h1><%= @user.name %></h1>
<% end %>

<p class="copyright text-muted">Influencing: <%= @influencing_count %> | Influencers: <%= @influencer_count %></p>
<div class="container">
   <div class="row">
     <div class="col-lg-8 col-md-8 mx-auto">

<h2>My Feed:</h2>

<% if @influencer_count == 0 %>
<h3>Your feed is empty! <%= link_to "Click", brain_user_discover_path(@user) %> to discover influencers.</h3>
<% end %>

<% @influencer_hash.each do |influencer, post_data| %>

  <!-- BEGIN LOCAL VARIABLES JUST FOR MODAL-->
  <%@author_id = post_data[:user_id]%>
  <% @current_user = session[:user_id]%>
  <% @post_modal = post_data[:post_id]%>
  <% @post = Post.find(post_data[:post_id])%>
  <!-- END LOCAL VARIABLES JUST FOR MODAL-->
  
<div class="post-preview">
     <a href="#<%=@post_modal%>Modal" data-toggle="modal">
       <h4 class="post-title">
        <%= post_data[:latest_post_title] %>
       </h4>
       <h5 class="post-subtitle">

         Posted by <%= influencer %> on <%= post_data[:latest_post_date] %> | <%= post_data[:content_type] %>

       </h5>
     </a>
     <h6 class="post-subtitle"><%=image_tag("1f9e0.png", height: "40", width: "40")%> <%= post_data[:brain_count] %>&nbsp; | &nbsp;<%= image_tag("1f4ac.png", height: "40", width: "40") %> <%= post_data[:comment_count] %></h6>
   </div>
   <div class="lineb">
   </div>

   <!-- BEGIN Modal for post details  -->

   <!-- BEGIN LOCAL VARIABLES JUST FOR MODAL-->
   <%@author_id = post_data[:user_id]%>
   <% @current_user = session[:user_id]%>
   <% @post_modal = post_data[:post_id]%>
   <% @post = Post.find(post_data[:post_id])%>
   <!-- END LOCAL VARIABLES JUST FOR MODAL-->

   <div class="modal" id="<%=@post_modal%>Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel"><h4 class= "post-subtitle">
             <h3><%= @post.title %> </h3>
           Posted By: <%= link_to User.find(@author_id).name, brain_user_profile_path(User.find(@author_id)) %>
           on <%= (@post.created_at.strftime("%B, %d, %Y")) %> |
            <%= link_to @post.content_type,@post.content_link, target: :_blank %>
            <h5><%= link_to image_tag("1f9e0.png", height: "45", width: "45"), brain_user_post_brains_path(@current_user, @post.id), method: :post, controller: 'brains'%> <%= @post.brains.count %> &nbsp; | &nbsp;
             <%= image_tag("1f4ac.png", height: "45", width: "45")%> <%= @post.comments.count %></h5>
           </h4>

         </div>
         <div class="modal-body">
             <h4>
             Description: <%= @post.description %> <br>
             </h4>
             <br>
             <h4>Comments:</h4>
            <% @post.comments.each do |comment| %>
              <div class="container please_align">
                <div class="dialogbox">
                  <div class="body">
                    <span class="tip tip-up"></span>
                    <div class="message">

                  <span class="comment_header"><%= comment.find_user %> - <%= (comment.created_at.strftime("%B %d, %Y")) %></span><br><span>
                  <%= comment.text %></span>
                  </div>
                </div>
              </div>
            </div>
               <% end %>

               <div class=" container please_align">
                 <h5>Add Comment:</h5>
                 <%= form_for @new_comment, url: brain_user_post_comments_path(@current_user, @post.id) do |f| %>
                 <%= f.text_area :text, maxlength: 200 %> <br>
                 <%= f.label :text, "200 characters", class:"post-subtitle" %> <br>
                 <br>
                 <%= f.submit "Create Comment" %>
                 <% end  %>
               </div>
               </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
   </div>
   <!-- END Modal for post details -->


<% end %>

   </div>
  </div>
</div>

</div>
