<!-- shows the user's homepage/feed -->

<h1>Welcome, <%= @user.name %>!</h1>

<%= link_to "Update/Edit My Account", brain_user_profile_edit_path(@user) %> <br>
<%= link_to "View My Profile", brain_user_profile_path(@user) %> <br>
<%= link_to "Create A Post", new_brain_user_post_path(@user.id)  %> <br>
<%= link_to "Discover Influencers", brain_user_discover_path(@user) %> <br>
<br>

<h2>My Feed:</h2>

<% @influencer_hash.each do |influencer, post_data| %>
  <%= link_to post_data[:latest_post_title], brain_user_post_path( post_data[:user_id],post_data[:post_id]) %> <br>
  Content Type: <%= post_data[:content_type] %> <br>
  Posted By: <%= influencer %> on  <%= post_data[:latest_post_date] %> <br>
  <%= image_tag("1f4ac.png")%> <%= post_data[:comment_count] %>  <%= image_tag("1f9e0.png") %> <%= post_data[:brain_count] %>
<% end %>
