<!-- form to create a new post, can also save as draft -->
<section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>


<h1>Create Post</h1>

<%= form_for @post, url: brain_user_posts_path do |f|  %>
 <%= f.label :title, "Title:" %><br>
 <%= f.text_field :title  %> <br>
<br>
 <%= f.label :description, "Description:" %><br>
 <%= f.text_field :description  %> <br>
<br>
 <%= f.label :content_link, "Content Link:" %><br>
 <%= f.text_field :content_link  %> <br>
<br>
 <%= f.label :content_type, "Content Type:" %><br>
 <%= f.collection_select :content_type, @content_types, :itself, :itself %><br>
<br>
<%= f.submit %>
<br>
<% end  %>
</div>
</div>

</div>
</div>
</section>
