<h1><%= @post.title %> </h1>

<div>
  Published By: <%= link_to User.find(@author_id).name, brain_user_path(User.find(@author_id)) %> <br>
  <br>
  Posted At: <%= (@post.created_at.strftime("%B, %d, %Y")) %> <br>
  <br>
  Content Type: <%= @post.content_type %> <br> <!-- do we need this on show page -->
  <br>
  Content Link: <%= link_to "content source", @post.content_link, target: :_blank %> <br>
  <br>
  Description: <%= @post.description %> <br>
  <br>

</div>

<div >
  <%= link_to image_tag("1f9e0.png", height: "45", width: "45"), brain_user_post_brains_path(@current_user, @post.id), method: :post, controller: 'brains'%> <%= @post.brains.count %> <br>
   <h4><%= image_tag("1f4ac.png", height: "45", width: "45") %> Comments:</h4>
    <ul>

    <% @comments.each do |comment| %>
      <li><%= comment.find_user %> posted on <%= (comment.created_at.strftime("%B %d, %Y")) %> <br>
         <%= comment.text %> <br>
        </li>
    <% end  %>
  </ul>
</div>


<div>
  <%= form_for @new_comment, url: brain_user_post_comments_path(@current_user, @post.id) do |f| %>
  <%= f.text_area :text, maxlength: 200 %> <br>
  <%= f.label :text, "200 characters" %> <br>
  <br>
  <%= f.submit "Create Comment" %>
  <% end  %>
</div>
<br>
<%= link_to "Back to Homepage", brain_user_path(@current_user) %>
