<!-- NOT IN USE -- Example code for implementing a modal to show posts (note this would require a button currently) -->


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  View post
</button>

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h4 class= "post-subtitle">
          <h3><%= @post.title %> </h3>
        Posted By: <%= link_to User.find(@author_id).name, brain_user_profile_path(User.find(@author_id)) %>
        on <%= (@post.created_at.strftime("%B, %d, %Y")) %> |
         <%= link_to @post.content_type,@post.content_link, target: :_blank %>
         <h5><%= link_to image_tag("1f9e0.png", height: "45", width: "45"), brain_user_post_brains_path(@current_user, @post.id), method: :post, controller: 'brains'%> <%= @post.brains.count %> &nbsp; | &nbsp;
          <%= image_tag("1f4ac.png", height: "45", width: "45")%> <%= @post.comments.count %></h5>
        </h4>

      </div>
      <div class="modal-body">
          <h4>
          Description: <%= @post.description %> <br>
          </h4>
          <br>
          <h4>Comments:</h4>
         <% @comments.each do |comment| %>
           <div class="container please_align">
             <div class="dialogbox">
               <div class="body">
                 <span class="tip tip-up"></span>
                 <div class="message">

               <span class="comment_header"><%= comment.find_user %> - <%= (comment.created_at.strftime("%B %d, %Y")) %></span><br><span>
               <%= comment.text %></span>
               </div>
             </div>
           </div>
         </div>
            <% end %>

            <div class=" container please_align">
              <h5>Add Comment:</h5>
              <%= form_for @new_comment, url: brain_user_post_comments_path(@current_user, @post.id) do |f| %>
              <%= f.text_area :text, maxlength: 200 %> <br>
              <%= f.label :text, "200 characters", class:"post-subtitle" %> <br>
              <br>
              <%= f.submit "Create Comment" %>
              <% end  %>
            </div>
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
