<section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>

<% if @user.errors.any?  %>
 <div id="error explanation">
 <h2>We found a few errors in your form:</h2>
 <ul>
 <% @user.errors.full_messages.each do |message| %>
   <li><%= message %></li>
 <% end  %>
 </ul>
<% end %>

<h3>Edit Profile:</h3>


<%= form_for @user, url: brain_user_post_profile_update_path, method: :post do |f| %>
<div class="form-group">
<%= f.label :name, "Name:" %><br>
<%= f.text_field :name %>
</div>
<div class="form-group">
<%= f.label :photo_url, "Photo URL:" %><br>
<%= f.text_field :photo_url %>
</div>
<div class="form-group">
<%= f.label :about_me, "About Me:" %><br>
<%= f.text_area :about_me, maxlength: 200 %>
</div>
<div class="form-group">
<%= f.submit "Update Profile" %>
</div>
<% end  %>
<br>

<h4 class="post-subtitle"> Delete A Post:</h4>

<% @posts.each do |post| %>
  <div class="post">
   <p><%= link_to post.title, brain_user_post_path(@user.id, post.id) %>
   <%= form_tag brain_user_post_path(post.user, post.id), method: "delete" do %>
<%= submit_tag "Delete" %></p>
  <% end %>
  </div>
<% end %>
</div>
</div>

</div>
</div>
</div>
</section>
