<h1>Edit My Profile</h1>

<% if @user.errors.any?  %>
 <div id="error explanation">
 <h2>We found a few errors in your form:</h2>
 <ul>
 <% @user.errors.full_messages.each do |message| %>
   <li><%= message %></li>
 <% end  %>
 </ul>
<% end  %>

<%= form_for @user, url: brain_user_post_profile_update_path, method: :post do |f| %>
<%= f.label :name %>
<%= f.text_field :name %> <br>
<br>
<%= f.label :photo_url %>
<%= f.text_field :photo_url %>  <br>
<br>
<%= f.label :about_me %>
<%= f.text_area :about_me, maxlength: 200 %>  <br>
<br>
<%= f.submit %>

<% end  %>

<h1> Delete A Post</h1>

<% @posts.each do |post| %>
  <div class="post">
   <span><%= link_to post.title, brain_user_post_path(@user.id, post.id) %></span>
   <%= form_tag brain_user_post_path(post.user, post.id), method: "delete" do %>
 <%= submit_tag "Delete" %>
  <% end %>
  </div>
<% end %>

<br>
<br>

<%= link_to "Back to My Homepage", brain_user_path(@user) %>
