<h1><%= @user.name %></h1>

<% if @current_user.id != @user.id  %>
  <% if @current_user.influencer_ids.include?(@user.id)  %>
    <h3>Influencing Me</h3>
  <% else %>
    <%= form_for @current_user, url: brain_user_user_influencer_relationships_path(@current_user.id), method: :post do |f| %>
    <%= f.hidden_field :influencer_id, value: @user.id %>
    <%= f.submit "Influence Me" %>
    <% end %>
  <% end %>
<% else %>
    <%= link_to "Edit My Profile", brain_user_profile_edit_path(@user)  %>
<% end  %> <br>


<%= link_to "My Homepage", brain_user_path(@current_user.id)  %> <br>




<%= @user.photo_url %><br>

<%= @user.city %><br>

<%= @user.email %><br>

<%= @user.professional_industry %><br>

<%= @user.about_me %><br>

<!-- feed of user's posts to get into post show page, click title-->

<h2> Posts: </h2>

<ul><% @post.each do |post| %>

<li>  <%= link_to post.title, brain_user_post_path(@user.id, post.id)%> <br>
  Content Type: <%= post.content_type %> <br>
  Posted by <%= @user.name %> on <%= (post.created_at.strftime("%B %d, %Y")) %> <br>
  <%= image_tag("1f4ac.png") %> <%= post.comments.count %>  <%=image_tag("1f9e0.png")%> <%= post.brains.count %>
 </li>

<% end  %></ul>
