<h1><%= @user.name %></h1>

<% if @current_user.id != @user.id  %>
  <% if @current_user.influencer_ids.include?(@user.id)  %>
    <h3>Influencing Me</h3>
  <% else %>
    <%= form_for @current_user, url: brain_user_user_influencer_relationships_path(@current_user.id), method: :post do |f| %>
    <%= f.hidden_field :influencer_id, value: @user.id %>
    <%= f.submit "Influence Me" %>
    <% end %>
  <% end %>
<% else %>
    <%= link_to "Edit My Profile", brain_user_profile_edit_path(@user)  %>
<% end  %> <br>


<%= link_to "My Homepage", brain_user_path(@current_user.id)  %> <br>




<%= @user.photo_url %><br>


<%= @user.professional_industry %><br>



<div class="container">
   <div class="row">
     <div class="col-lg-8 col-md-10 mx-auto">


<h2> Posts: </h2>

<% @post.each do |post| %>

       <div class="post-preview">
         <a href="<%= brain_user_post_path(@user.id, post.id)%>">
           <h2 class="post-title">
            <%= post.title %>
           </h2>
           <h3 class="post-subtitle">

             Posted by <%= @user.name %> on <%= (post.created_at.strftime("%B %d, %Y")) %> | <%= post.content_type %>

           </h3>
         </a>
         <p class="post-meta"><%= image_tag("1f4ac.png") %> <%= post.comments.count %>  | <%=image_tag("1f9e0.png")%> <%= post.brains.count %></p>
       </div>
    <hr>
<% end %>

   </div>
  </div>
</div>
