<div class="container">

<% if flash[:message] %>
  <%=  flash[:message] %>
<% end  %>


<!--ATTEMPT TO CREATE INTRO ICONS EXPLAINING VALUE PROPOSITION -->
<section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Learn</h3>
            <p class="lead mb-0">Articles, podcasts, and books reccomendations from people that inspire you.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Influence</h3>
            <p class="lead mb-0">Share the content that helps shape your personal and professional life with others. </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Enrich</h3>
            <p class="lead mb-0"> No distractions, trolls, or ads. Time spent here is an investment in a better you.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

<br>
<br>

  <!-- FORM TO LOGIN OR CREATE ACCOUNT -->
  <div class="row form-group justify-center-content">
    <div class="col-sm-11 col-md-11 col-lg-11 offset-sm-4 offset-md-4 offset-lg-4 text-center mx-auto ">


  <%= form_tag brain_sessions_path do %>
  <div class="form-group">
    <%= label_tag :username, "Username:" %>
    <%= text_field_tag :username  %>
  </div>
  <div class="form-group">
    <%= label_tag :password, "Password:" %>
    <%= password_field_tag :password %>
  </div>
  <div class="form-group text-center">
    <%= submit_tag "Login" %>
  </div>
  <% end  %>

  <div class="form-group text-center">
  <%= form_tag new_brain_user_path, {method: :get} do %>
    <%= submit_tag "Create Account" %>
  <% end %>
  </div>

  </div>
  </div>

</div>
